<% post.post_comments.each do |post_comment| %>
  <%= attachment_image_tag post_comment.user, :profile_image, size: "50x50", fallback: "no_image.jpg", class: "rounded-circle" %>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>　<%= post_comment.comment %>
  <% if post_comment.user == current_user %>
  <div>
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true %>
    <%= link_to "編集", edit_post_post_comment_path(post_comment.post, post_comment) %>
  </div>
  <% end %>
<% end %>