<div class="container">
  <div class="row">
    <div class="mx-auto">
      <br>
      <h3>プロフィール編集</h3>
      <%= form_with model:@user, local:true do |f| %>
        <label for="inputName">ニックネーム</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"ニックネーム"%><br><br>
        <label for="inputImage">プロフィール画像</label><br>
        <%= attachment_image_tag @user, :profile_image, size: "60x60", fallback: "no_image.jpg", class: "rounded-circle" %>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br><br>
        <label for="introduction">自己紹介</label><br>
        <%= f.text_area :introduction, size: "50x2" %><br><br>
        <%= f.submit "変更を保存", class: "btn btn-info" %>
        <%= link_to '退会する', confirm_users_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>