<h2>マイページ</h2>

<h3>登録情報</h3>
<% if @user.id == current_user.id %>
  <%= link_to '編集する', edit_user_path %>
<% end %><br>

<%= attachment_image_tag @user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>

<table>
  <tr>
    <th>ニックネーム</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= @user.introduction %></td>
  </tr>
</table>

<h2>投稿一覧</h2>
<%= render 'posts/index', posts: @posts %>
<%= paginate @posts %>