<div class="container">
  <br>
  <% if user_signed_in? %>
    <% if @user.id == current_user.id %>
      <h2>マイページ</h2>
    <% else %>
      <h2>ユーザー詳細</h2>
    <% end %>
  <% else %>
    <h2>ユーザー詳細</h2>
  <% end %>
  <div class="row my-5">
    <div class="col-3">
      <h3 class="text-center">プロフィール</h3>
      <% if user_signed_in? %>
        <% if @user.id == current_user.id %>
          <i class="fas fa-user-edit"></i><%= link_to '編集する', edit_user_path, class: "text-dark" %>
        <% end %><br>
      <% end %>
      <div class="profile-img my-2">
        <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpg", class: "rounded-circle" %>
      </div>
      <table class="table profile-table">
        <tr>
          <th>ニックネーム</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>お気に入り</th>
          <td><%= link_to @user.favorites.count, user_favorites_path(@user), class: "text-dark" %></td>
        </tr>
      </table>
    </div>
    <div class="col-9">
      <h3 class="text-center">投稿一覧</h3>
      <%= render 'posts/index', posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>