<table>
  <tbody>
    <tr>
      <td class="text-center" style="width: 30%;">氏名</td>
      <td><%= @contact.name %></td>
    </tr>
    <tr>
      <td class="text-center" style="width: 30%;">メールアドレス</td>
      <td><%= @contact.email %></td>
    </tr>
    <tr>
      <td class="text-center" style="width: 30%;">電話番号</td>
      <td><%= @contact.phone %></td>
    </tr>
    <tr>
      <td class="text-center" style="width: 30%;">件名</td>
      <td><%= @contact.subject %></td>
    </tr>
    <tr>
      <td class="text-center">メッセージ</td>
      <td style="white-space: pre-wrap;"><%= @contact.message %></td>
    </tr>
  </tbody>
</table>

<%= form_with model: @contact, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone %>
  <%= f.hidden_field :subject %>
  <%= f.hidden_field :message %>
  <div><%= f.submit '送信' %></div>
<% end %>
<%= form_with model: @contact, url: back_path, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone %>
  <%= f.hidden_field :subject %>
  <%= f.hidden_field :message %>
  <div><%= f.submit '入力画面に戻る' %></div>
<% end %>