<%= include_gon %>
<div class="row mb-5">
  <div class="main-visual">
    <div class="main-visual-content text-center">
      <h3 class="my-3">ようこそ！ここはマイル修行の疲れを癒す休憩所です</h3>
      <p>
        マイル修行で訪れた空港で空き時間が2時間ある…帰りの飛行機を待つだけでは退屈だな…
        <br>そんな時ありませんか？
        <br><br>このサイトは空港や空港周辺のおすすめスポットを共有することができるマイル修行僧のためのSNSです。
        <br><u>みんなで楽しくマイル修行しましょう！</u>
      </p>
      <p><small>ユーザー登録なしで投稿を閲覧できますが、新規投稿やコメント、いいねをするには登録が必要です。</small></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <h3 class="text-center mt-3">人気の投稿</h3>
    <%= render 'posts/index', posts: @posts.first(5), post_tags: @post_tags %>
    <p class="text-center"><strong>投稿一覧は<%= link_to 'こちら', posts_path %></strong></p>
  </div>

  <div class="col-md-3">
    <h3 class="text-center my-3">タグリスト</h3>
    <% @tag_list.each do |list| %>
      <ul>
        <i class="fas fa-tags"></i> <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %> (<%= list.posts.count %>)
      </ul>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="new-post-btn btn btn-info btn-lg">
    <i class="fas fa-pen-nib"></i><%= link_to '新規投稿', new_post_path, class: "text-light", 'data-turbolinks': false %>
  </div>
<% end %>