<div class="container">
  <div class="col-xs-12">
    <% if @model == "user" %>
    <br>
    <h3>'<%= @value %>' のユーザー検索結果</h3>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>ニックネーム</th>
          <th>自己紹介</th>
        </tr>
      </thead>
      <% @datas.each do |user| %>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, size: "40x40", fallback: "no_image.jpg", class: "rounded-circle" %>
            <% end %>
          </td>
          <td>
            <%= link_to user.name, user_path(user), class: "text-dark" %>
          </td>
          <td>
            <%= user.introduction %>
          </td>
        </tr>
      </tbody>
      <% end %>
    <% elsif @model == "post" %>
    <br>
    <h3>'<%= @value %>' の投稿検索結果</h3>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>本文</th>
        </tr>
      </thead>
      <% @datas.each do |post| %>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(post.user) do %>
              <%= attachment_image_tag post.user, :profile_image, size: "40x40", fallback: "no_image.jpg", class: "rounded-circle" %>
            <% end %>
          </td>
          <td>
            <%= link_to post.title, post_path(post), class: "text-dark" %>
          </td>
          <td>
            <%= post.body %>
          </td>
        </tr>
      </tbody>
      <% end %>
    <% end %>
    </table>
  </div>
</div>