<div class="container">
  <div class="row">
    <div class="mx-auto">
      <br>
      <h3>新規投稿フォーム</h3>
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <%= form_with model: @post, local:true do |f| %>
        <h5>画像</h5>
        <%= f.attachment_field :image %>
        <h5>タイトル</h5>
        <%= f.text_field :title %>
        <h5>本文</h5>
        <%= f.text_area :body, size: "50x5" %>
        <h5>タグ</h5>
        <p>半角スペースを入力することで複数のタグを付けることができます。</p>
        <p>例：羽田空港 グルメ お土産</p>
        <%= f.text_field :tag_name %><br><br>
        <%= f.submit '投稿', class: "btn btn-info mb-3" %>
      <% end %>
    </div>
  </div>
</div>