<div class="container">
  <div class="row">
    <div class="mx-auto">
      <br>
      <h3>新規投稿フォーム</h3>
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <%= form_with model: @post, local:true do |f| %>
        <h5>画像</h5>
        <%= f.attachment_field :image %>
        <h5>タイトル</h5>
        <%= f.text_field :title, size: "50x1" %>
        <h5>本文</h5>
        <%= f.text_area :body, size: "50x5" %>
        <h5>タグ</h5>
        <p>半角スペースを入力することで複数のタグを付けることができます。</p>
        <%= f.text_field :tag_name, placeholder: "羽田空港 グルメ お土産" %><br><br>
        <div class="spot">
          <%= f.fields_for :spot do |s| %>
            <h5>スポット</h5>
            <%= s.text_field :address, placeholder: "場所の名称や住所を入力", id: "address", class: "spot_text" %>
          <input onclick="codeAddress()" type="button" value="検索する"></input>
          <div class="map" id="map" style="height: 320px; width: 400px;"></div>
          <% end %>
        </div><br>
        <%= f.submit '投稿', class: "btn btn-info mb-3" %>
      <% end %>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>