<!DOCTYPE html>
<html>
  <head>
    <title>マイル修行の休憩所</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><%= image_tag 'logo.jpeg', width: '60%', height: '60%' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto text-nowrap">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark'  %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-dark'  %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark'  %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark'  %>
              </li>
            <% end %>
            </ul>
          </div>
          <% if user_signed_in? %>
          <form class="form-inline my-2 my-lg-0 flex-nowrap">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field 'search[value]', class: "form-control mr-sm-2" %>
              <%= f.select 'search[model]', options_for_select({"ユーザー" => "user", "投稿" => "post"}), class: "form-select" %>
              <%= f.select 'search[how]', options_for_select({"完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"}), class: "form-select" %>
              <%= f.submit '検索', class: "btn btn-outline-info my-2 my-sm-0" %>
            <% end %>
          </form>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="footer mt-auto pt-5 pb-3">
      <div class="container">
        <span class="d-flex justify-content-center text-muted">
          Copyright (C) マイル修行の休憩所
        </span>
        <span class="d-flex justify-content-end">
          <%= link_to 'お問い合わせ', new_contact_path, class: 'nav-link text-dark' %>
        </span>
      </div>

    </footer>
  </body>
</html>
